# Telegram Bot Token
TG_TOKEN=your_token_here

# Telegram User IDs (comma-separated)
TG_USER_IDS=4365768,123456789

# Telegram Owner IDs (comma-separated)
TG_OWNER_IDS=123456789,123546

# Proxy settings (optional)
PROXY_URL=
PROXY_CHANGE_URL=
