# Токен Telegram бота
TG_TOKEN=your_token_here

# ID пользователей Telegram (через запятую), которым разрешен доступ
TG_USER_IDS=4365768,123456789

# ID владельцев бота (полный доступ к настройкам)
TG_OWNER_IDS=123456789,123546
PROXY_URL=
PROXY_CHANGE_URL=
